.header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px 0px; 
    margin-bottom: 2rem;
}




.logo img {
    width: 15rem;
    cursor: pointer;
}

button{
    background-color: rgb(49, 89, 233);
    color: white; 
    padding: 1rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;

}